<!--The content below is only a placeholder and can be replaced.-->

<!-- <div class="header" style="text-align:center">

  <h1>

    {{ title }}

  </h1>

  <img width="50" alt="Logo"

    src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/21760012/original/d4c0c142f91f012c9a8a9c9aeef3bac28036f15b/create-your-cartoon-style-flat-avatar-or-icon.jpg">

  <div>

    <small>Celebrating 6 years of Software Dev.</small>

  </div>

</div> -->

 
<app-navigation></app-navigation>
<app-landing-page></app-landing-page>

 

<div>

  <!-- <ul class="row">

    <li class="col-25">

      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>

    </li>

    <li class="col-25">

      <a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a>

    </li>

  </ul> -->

</div>

 

<router-outlet></router-outlet>

