<div class="first" id="begin">
  <div class="content">
    <img src="/assets/Images/me.jpg" width="150" height=150 />
    <h1>Awwal Daniah, BSc</h1>
    <p>Software Engineer</p>
    <a href="javascript:;" class="btn">Hire Me</a>

    <div class="bounce" (click)="intro()" ><i class="fa fa-arrow-down"></i></div>
  
  </div>


  

</div>

<!-- <div class="gallery-container">
    <div class="image-holder" >
        <div class="button"><i class="fas fa-chevron-left"></i></div>
        <div class="pointer-group">
            <span class="pointer"></span>
            <span class="pointer"></span>
            <span class="pointer"></span>
            <span class="pointer"></span>
            <span class="pointer"></span>
            <span class="pointer"></span>
        </div>
        <div class="button"><i class="fas fa-chevron-right"></i></div>

    </div>
</div>

<div class="row" id="intro">
  <div class="col-100 block">
    <div class="row">
      <ul>
        <li [ngClass]="{'active':currentSlides === category.slides}" *ngFor="let category of sliderCategories" (click)="setCategory(category)" >{{category.title}}</li>
      </ul>
    <app-slider-component [dataSlides]="currentSlides" ></app-slider-component>
    </div>
  </div>
</div> -->

<app-slider-component [dataSlides]="currentSlides" ></app-slider-component>
<div class="row stars">
  <div class="col-100">
      <div class="100">
          <h2><i class="far fa-images"></i>&nbsp; Gallery</h2>
        </div>
      <div class="gallery-container">
          <div class="image-holder">
              <div class="button"><i class="fas fa-chevron-left"></i></div>
              <div class="pointer-group">
                  <span class="pointer"></span>
                  <span class="pointer"></span>
                  <span class="pointer"></span>
                  <span class="pointer"></span>
                  <span class="pointer"></span>
                  <span class="pointer"></span>
              </div>
              <div class="button"><i class="fas fa-chevron-right"></i></div>
   
          </div>
      </div>
   
  </div>

</div>

<div class="row" id="intro">
  <div class="col-100 block">
    <!-- <div id="heading">Experience</div> -->
    <div id="heading">Experience</div>
  </div>
</div>

<div class="row" id="intro">
  <div class="col-100 block">
    <div class="row">

    <div class="100">
      <h2><i class="fa fa-briefcase"></i>&nbsp; Campus Support</h2>
    </div>
    <div class="col-50 stars">
      <div class="work-date">ASP.Net Developer, Feb 2017 to Present
      </div>
      <p class="work-duties">Design and create websites, web applications, maintain and improve existing web
        applications, Testing
        and QA, design web pages and web tools. Design graphical and interactive components including APIs
        and DLLs. Design and manage all databases related to the schools owned by Campus Support. Perform
        regular backup of databases as recommended. Perform in-house design and troubleshooting of Campus
        Support custom CMS. Set up marketing hardware for schools owned by Campus Support and any other
        duties assigned to support the business.</p>

        <div class="languages">
            <label>Tools and Languages</label>
        <ul>
            <li>Html 5</li>
            <li>Css</li>
            <li>Batch Script</li>
            <li>C#</li>
            <li>Microsoft SQL</li>
            <li>Javascript</li>
            <li>Razor</li>
            <li>Asp.Net MVC/API</li>
            <li>Visual Studio</li>
            <li>Microsoft SQL Server</li>
            <li>TFS/Git</li>
            <li>Facebook Graph API</li>
            <li>Google APIs</li>
            <li>Angular</li>
            <li>Typescript</li>
        </ul>
    </div>
  </div>
    <div class="col-50 accomplishments stars">
        <div class="work-accomplishments">
          Accomplishments &nbsp;
          <span>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          </span>
          </div>
        <ol>
          <li>Increased leads acquisition by integrating Google AdWords, Facebook and Bing with Campus
            Support websites for marketing/remarketing purposes.</li>
          <li>Increased functionality of in-house tools, websites, APIs and content management systems for
            all schools owned by Campus Support.</li>
          <li>Successfully configured, managed and supported 90 signage systems for Campus Support
            campuses located across Canada.</li>
        </ol>
      
    </div>
  </div>


    <div class="row">
      <div class="col-100 block">
        <div class="100">
          <h2><i class="fa fa-briefcase"></i>&nbsp; CCD Health Systems</h2>
        </div>
        <div class="col-50 stars">

          <div class="work-date">Programmer Analyst III, Aug 2014 to Jan 2017
          </div>
          <p class="work-duties">Manage, develop and support a copy of CCD Version Control System. Create, update and
            maintain all
            programming/design documentation related to CCD projects including internal code, design
            specifications, help documents, handouts and user guides. Create new software installer packages for native
            desktop applications developed using C#, VBA, VB.NET and include their dependencies,
            components or libraries. Analyze and develop support updates for various native desktop applications,
            and perform software and hardware troubleshooting to resolve bugs, problems and issues in all CCD
            software products and hardware. Manage MS SQL and MS Access back-end databases for test
            development, production and customers by creating backups and restores.
          </p>
          <div class="languages">
              <label>Tools and Languages</label>
              <ul>
                  <li>Html 5</li>
                  <li>Css</li>
                  <li>Batch Script</li>
                  <li>C#</li>
                  <li>Microsoft SQL</li>
                  <li>Javascript</li>
                  <li>VBA 7</li>
                  <li>VB.Net</li>
                  <li>TFS/Git</li>
                  <li>Asp.Net WCF/WPF/MVC</li>
                  <li>Visual Studio</li>
                  <li>Microsoft SQL Server</li>
                  <li>Microsoft Google APIs</li>
              </ul>
       
          </div>
        </div>
        <div class="col-50 accomplishments stars">
          <div class="work-accomplishments">
            Accomplishments &nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </div>
          <ol>
            <li>Led CCD into creating and deploying their first customer update in 3 years after forensically
              identifying all requirements needed to deploy the updates.</li>
            <li>Reengineered and developed scalable in-house systems that increased efficiency and
              productivity.
            </li>
            <li>Led and engineered all parts of a key generator that provides encrypted serial keys which are
              used to unlock certain modules in one of CCD applications (SimplySafety!).
            </li>
            <li>Developed a variety of Windows native desktop applications and web services (SOAP / REST) by
              using development tools provided by CCD including Visual Studio.
            </li>
            <li>Added a variety of new features to CCD applications by following the design documentation
              specified for asp.net web, asp.net MVC and native desktop applications.
            </li>
          </ol>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-100 block">
        <div class="100">
          <h2><i class="fa fa-briefcase"></i>&nbsp; Western Genetics Canada</h2>
        </div>
        <div class="col-50 stars">
          <div class="work-date">(Co-op) Jr. Web Systems Administrator - May
            2013 to
            Aug.
            2013
          </div>
          <p class="work-duties">Manage the website transition project from HTML platform to PHP (CMS). Create and
            maintain
            "Training
            Manuals" for website users. Work with the vendors to create and maintain new and existing forms and
            export lists. Plan new scripts and platforms to attach to website - ex: customer portals, classifieds
            section. Update all content to adhere to the search engines. Manage general work queues, incidents,
            and requests. Manage technical documentation related to the functions of the IT Team.
          </p>
          <div class="languages">
              <label>Tools and Languages</label>
          <ul>
              <li>Html 5</li>
              <li>Css</li>
              <li>MySQL</li>
              <li>C#</li>
              <li>Microsoft SQL</li>
              <li>Javascript</li>
              <li>PHP</li>
              <li>Visual Studio</li>
              <li>Microsoft SQL Server</li>
              <li>Git</li>
          </ul>
      </div>
        </div>
        <div class="col-50 accomplishments stars">
          <div class="work-accomplishments">
            Accomplishments &nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          </div>
          <ol>
            <li>Developed a simple and fully functional in-house web-based fleet management system in
              VB.NET.</li>
            <li>Reengineered the company website by migrating the current company website from a custom
              PHP/HTML based site to a WordPress content management system.
            </li>
            <li>Analyzed and helped with the development of new websites for 2 WESTGEN subsidiary
              companies.
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-100 block">
        <div class="100">
          <h2><i class="fa fa-briefcase"></i>&nbsp; University of the Fraser Valley</h2>
        </div>
        <div class="col-50 stars">
          <div class="work-date">Teaching Assistant - Jan 2012 to Apr 2014</div>
          <p class="work-duties">Assist the instructor in teaching and showing students how to use Microsoft Word,
            Excel,
            PowerPoint,
            and Access. Distribute and invigilate tests and midterm exams. Help with making sure students have
            access to a computer and are able to log in. Solve computer hardware and software problems for
            students.</p>

            <div class="languages">
                <label>Tools and Languages</label>
            <ul>
                <li>Microsoft Word</li>
                <li>Microsoft Access</li>
                <li>Microsoft Excel</li>
            </ul>
        </div>
        </div>
        <div class="col-50 accomplishments stars">
          <div class="work-accomplishments">
            Accomplishments  &nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          </div>
          <ol>
            <li>Successfully fixed hardware and software for students that required computer access.</li>
            <li>Assisted in successfully teaching students how to use Microsoft Word, Excel, PowerPoint, and
              Access.</li>
              <li>Improved student morale.</li>
          </ol>
        
        </div>
      </div>
    </div>
  </div>


  <div class="col-100 block stars">
      <section>
          <h2><i class="fa fa-book"></i>&nbsp;Main Languages</h2>
          <ul>  
              <li>
                <i class="devicon-mysql-plain colored"></i>
                <i>SQL</i>
              </li>
              <li>
                <i class="devicon-javascript-plain"></i>
                <i>Javascript</i>
              </li>
              <li>
                <i class="devicon-css3-plain colored"></i>
                <i>CSS 5</i>
              </li>
              <li>
                <i class="devicon-csharp-plain colored"></i>
                <i>C#</i>
              </li>
              <li>
                <i class="devicon-jasmine-plain-wordmark colored"></i>
                <i>Jasmine</i>
              </li>
              <li>
                <i class="devicon-angularjs-plain colored"></i>
                <i>Angular 4</i>
              </li>
              <li>
                <i class="devicon-nodejs-plain colored"></i>
                <i>NodeJs</i>
              </li>
              <li>
                <i class="devicon-typescript-plain colored"></i>
                <i>TypeScript</i>
              </li>
              <li><i class="devicon-dot-net-plain colored"></i>VB.Net / VBA</li>
            </ul>
      </section>
    </div>
  </div>

  
  <div class="col-100 block stars">
    <section>
      <h2><i class="fa fa-book"></i>&nbsp;Genaral Tools</h2>
      <ul>
        <li>
          <i class="devicon-github-plain-wordmark colored"></i>
          <i>TFS (GIT)</i>
        </li>
        <li>
          <i class="devicon-visualstudio-plain colored"></i>
          <i>Visual Studio</i>
        </li>
        <li>
          <i class="devicon-dot-net-plain-wordmark colored"></i>
          <i>ASP.Net</i>
        </li>
        <li>
          <i class="devicon-google-plain colored"></i>
          <i>Google APIs</i>
        </li>
        <li>
          <i class="devicon-facebook-plain colored"></i>
          <i>Facebook APIs</i>
        </li>

        <li>
          <i class="devicon-jasmine-plain-wordmark colored"></i>
          <i>Jasmine</i>
        </li>
        <li>
          <i class="devicon-angularjs-plain colored"></i>
          <i>Angular 4</i>
        </li>
        <li>
          <i class="devicon-nodejs-plain colored"></i>
          <i>NodeJs</i>
        </li>
        <li>
          <i class="devicon-typescript-plain colored"></i>
          <i>TypeScript</i>
        </li>
        <li><i class="devicon-dot-net-plain colored"></i>VB.Net / VBA</li>
        <li>
          <i class="fa fa-database"></i>
          <i>SQL Server</i>
        </li>
      </ul>
    </section>
  </div>



  <div class="col-100 block stars">
      <section>
        <h2><i class="fa fa-book"></i>&nbsp;Integration</h2>
        <ul>
          <li>
            <i class="devicon-google-plain colored"></i>
            <i>Google APIs</i>
          </li>
          <li>
            <i class="devicon-facebook-plain colored"></i>
            <i>Facebook APIs</i>
          </li>
          <li>
            <i class="devicon-dot-net-plain colored colored"></i>
            <i>Microsoft Bing</i>
          </li>
          <li>
            <i></i>
            <!-- <i class="devicon-angularjs-plain colored"></i> -->
            <i>You've Got Leads API</i>
          </li>
          <li>
            <i class="devicon-nodejs-plain colored"></i>
            <i>Twitter</i>
          </li>
          <li>
            <i class="devicon-typescript-plain colored"></i>
            <i>YouTube</i>
          </li>
          <li>
            <i class="fa fa-database"></i>
            <i>Instagram</i>
          </li>
        </ul>
      </section>
    </div>


  <div class="col-100 block">
    <div class="100">
      <h2><i class="fa fa-graduation-cap"></i>Free Sample Tools</h2>
    </div>
    <div class="col-100 block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
      <ul>
        <li>IResize Images</li>
        <li>ICompress Images</li>
        <li>IGet File Size</li>
      </ul>
    </div>
  </div>

  <div class="col-100 block">
 <section id="form" >
    <h2><i class="fa fa-book"></i>&nbsp;Hire Me</h2>
  
    <div class="form stars">
    <form>
        <div class="row">
          <div class="col-100">
            <label>Full Name</label>
          </div>
          <div class="col-100">
            <input type="text" name="FullName" placeholder="Your name..." required />
          </div>
        </div>
        
        <div class="row">
          <div class="col-100">
            <label>Company Name</label>
          </div>
          <div class="col-100">
            <input type="text" name="CompanyName" placeholder="Your company name..." required />
          </div>
        </div>
        <div class="row">
          <div class="col-100">
            <label>Phone</label>
          </div>
          <div class="col-100">
            <input type="tel" name="Phone" placeholder="Your phone number..."  required />
          </div>
        </div>
        <div class="row">
            <div class="col-100">
              <label>Email</label>
            </div>
            <div class="col-100">
              <input type="email" name="Email" placeholder="Your email..."  required />
            </div>
          </div>
        <div class="row">
          <div class="col-100">
            <label>Message</label>
          </div>
          <div class="col-100">
            <textarea rows="3" placeholder="Type your message..." required ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-100">
            <input type="submit" value="Send" />
          </div>
        </div>
      </form>
    </div>
  </section>
  </div>


<!-- <div class="row">
  <div class="col-50">
    <div class="card">
      <img src="http://s3.amazonaws.com/westgen/wp-content/uploads/2017/01/27151353/Button-WEF.png" alt="Avatar"
        width="150">
      <div class="card-bottom">
        <h4><b>WestGen</b></h4>
        <p>Information Systems</p>
      </div>
    </div>



    <div class="card">
      <img src="http://s3.amazonaws.com/westgen/wp-content/uploads/2017/01/27155220/Boviteq-West.png" alt="Avatar"
        width="150">
      <div class="card-bottom">
        <h4><b>Boviteq West</b></h4>
        <p>Information Systems</p>
      </div>
    </div>
  </div>



  <div class="col-50">
    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/C4D0BAQEgLFu7Q2Q75A/company-logo_200_200/0?e=2159024400&v=beta&t=yl6aQnZbpUWfcrowrCcLZq57NEfK1Ot4WkFSfOxuk5o"
        alt="Avatar" width="150">
      <div class="card-bottom">
        <h4><b>CCD Health Systems</b></h4>
        <p>Information Systems</p>
      </div>
    </div>



    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/C560BAQERMIGroI2ycw/company-logo_200_200/0?e=2159024400&v=beta&t=ZRUGxTzwOglvKV8nuXSMiE_hlfvqN6QalQ00iF_KKjg"
        alt="Avatar" width="150">
      <div class="card-bottom">
        <h4><b>UFV</b></h4>
        <p>Information Systems</p>
      </div>
    </div>
  </div>
</div> -->